<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title th:text="#{checkout}"> </title>
</head>
<body>
<div class="container">

    <a th:href="@{'/'}" class="btn btn-warning" th:text="#{nav.home}"/></td>

    <div>
    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col">Название продукта</th>
            <th scope="col">Колличество</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.product.title}"/>
            <td th:text="${item.quantity}"/>
            <td th:text="${item.price}"/>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>